@import "../omarchy/current/theme/waybar.css";

* {
  font-family: 'SF Pro Text';
  font-weight: bold;
  font-size: 10pt;
  border: none;
  border-radius: 0;
  background-color: @background;
  color: @foreground;
}


.modules-left,
.modules-right,
.modules-center {
  padding: 0 6px;
}

.modules-left>*>*,
.modules-right>*>*,
.modules-center>*>* {
  padding: 0 2px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#clock,
#battery,
#cpu,
#pulseaudio,
#network,
#bluetooth,
#backlight,
#custom-exit,
#custom-omarchy,
#custom-update,
#custom-netspeed,
#custom-power_profile,
#custom-scratchpad,
#custom-browser,
#custom-whatsapp,
#custom-instagram,
#custom-video,
#custom-screenrecording-indicator,
#tray {
  padding: 0 10px;
}
