@import "../omarchy/current/theme/waybar.css";

* {
  font-family: "SF Mono";
  font-size: 12pt;
  border: none;
  border-radius: 0;
  background-color: @background;
  color: @foreground;
}

.modules-left,
.modules-right,
.modules-center {
  padding: 0 6px;
}

.modules-left > * > *,
.modules-right > * > *,
.modules-center > * > * {
  padding: 0 2px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#clock,
#battery,
#cpu,
#pulseaudio,
#network,
#bluetooth,
#backlight,
#custom-exit,
#custom-omarchy,
#custom-update,
#custom-netspeed,
#custom-power_profile,
#custom-scratchpad,
#custom-browser,
#custom-whatsapp,
#custom-instagram,
#custom-video,
#custom-file,
#custom-kitty,
#custom-chatgpt,
#custom-obsidian,
#custom-waydroid,
#custom-screenrecording-indicator,
#tray {
  padding: 0 10px;
}

#custom-chatgpt {
  background-image: url("/home/ihzabaker/Projects/myhyprland/dotfiles/.config/waybar/openai.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 10px 10px;
}

#custom-nowplaying {
  background-color: @background;
  font-size: 11px;
  color: @foreground;
  border-radius: 5px 5px 5px 5px;
  padding: 0px 10px 0px 10px;
  margin: 3px 0px 3px 15px;
  opacity: 1;
  border: 1px solid @border_color;
}

#custom-nowplaying.playing {
  background-color: @background;
  color: @foreground;
}

#custom-nowplaying.paused {
  background-color: @background;
}

#custom-quicklink_chromium,
#custom-quicklink_edge,
#custom-quicklink_firefox,
#custom-quicklink_browser,
#custom-quicklink_filemanager,
#custom-quicklink_email,
#custom-quicklink_thunderbird,
#custom-quicklink_calculator,
#custom-sidepad,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
  margin-right: 16px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  /* color: @foreground; */
}

#custom-quicklink_chromium,
#custom-quicklink_edge,
#custom-quicklink_firefox,
#custom-quicklink_browser,
#custom-quicklink_filemanager,
#custom-quicklink_email,
#custom-quicklink_thunderbird,
#custom-quicklink_calculator,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
  margin-right: 18px;
}
